*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body{
    overflow-x: hidden;
}

header{
    background-image: url("../News images/IMG_1259.JPG");
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

} 

.navigate{
    z-index: 7 !important;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100px;
    position: fixed;
    top: 0;
}


.menu-bar{
    display: flex;
    /* background-color: rgba(0, 0, 0, 0.3); */
    justify-content: space-evenly;
    padding-top: 40px;
    color: #fff;
        font-family: 'Oswald',sans-serif;
}


.travello > h3 > a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    z-index: 100 !important;
}

ul{
    display: flex;
    /* justify-content: space-between !important; */
    /* margin-left: 20px; */
}

.unordered > ul li a{
 margin-left: 50px;
 text-decoration: none;
 color: #fff;
 font-size: 19px;
 z-index: 2;
 font-weight: 600;
}

.book >  button a{
text-decoration: none;
color: yellowgreen;
font-weight: 600;
/* padding: 30px !important; */
margin-top: 35px;
}

.book > button{
    background-color: #fff;
    width: 190px;
    border: 1px solid #fff;
    height: 30px;
    border-radius: 20px;
}

.departure{
    margin-top: 350px;
    display: flex !important;
    justify-content: center;
    width: 100vw;
}

 


.budget{
    background-color: rgba(194, 194, 194, 0.6);
    width: 95%;
    border-radius: 30px;
    height: 250px;
}

.inside{
    margin-top: 50px;
}


.up-part{
    display: flex;
    justify-content: center;
    width: 280px;
    height: 80px;
    margin-bottom: -270px;
background-color: #fff;
border-radius: 15px;
}

.up-part > p{
    display: flex;
    align-items: center;
    font-family: 'Oswald',sans-serif;
    color: #000;
    margin-bottom: 25px;
    /* font-weight: 600; */
font-size: 20px;}

.move{
    display: flex;
    width: 100vw;
    justify-content: center;
}

 .optgrp{
    margin-top: 15px;
    margin-left: 25px;
} 

.selected{
    outline: none;
    height: 40px;
    background: #f2f5f6;
    width: 350px;
    border: 1px solid #f2f5f6;
}



.white{
    width: 95%;
    z-index: 5;
    height: 80px;
    align-content: center !important;
    margin: 50px;
    background-color: #fff;
    display: flex;
    margin-top: 60px;
    column-gap: 40px;  
    /* justify-content: center; */
 }


 .arrive{
    margin-top: 15px;
     outline: none;
    height: 40px;
    background: #f2f5f6;
     border: 1px solid #f2f5f6
}


.arrive > input{
    outline: none;
    height: 40px;
    background: #f2f5f6;
     border: 1px solid #f2f5f6;
     padding-left: 10px;
}


.arrive > input::placeholder{
    color: grey;
    font-weight: 600;
}


.ton{
    margin-top: 15px;
    margin-right: 15px;
}

.ton > button{
    height: 40px;
    width: 120px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 20px;
} 


.ton > button > a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}



main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* padding: 50px 70px; */
    margin-top: 800px;
}


.main-part{
    display: flex;
    justify-content: center;
    margin: 0px 100px;
}

.two-times{
    display: grid;
    justify-content: center;
    margin-bottom: 100px;
    width: 100%;
    grid-template-columns: 2fr 1fr;
}

.beach > div > img{
width: 90%;
}

.date{
    font-size: 60px;
}

.month{
    font-size: 12px;
    color: rgb(163, 162, 162);
}


.best{
    font-size: 25px;
    font-weight: 500;
    line-height: 2.2rem;
    font-family: 'Oswald',sans-serif;
    padding: 15px 0px;
    padding-bottom: 25px !important;

}


.lifestyle{
    font-size: 10px;
    font-weight: 600;
    color: rgb(163, 162, 162);
}

.text{
    font-size: 18px;
    line-height: 1.7rem;
    box-sizing: border-box;
    color: rgb(163, 162, 162);
    padding-top: 20px ;
}

.write{
    margin-top: 15px;
    /* margin-bottom: 50px; */
}

.bottom{
    margin-bottom: 50px;
}

.read{
    margin-top: 60px;

}

.read > a{
    text-decoration: none;
    color: #000;
    font-weight: 600;

}

.two-camel{
    margin-bottom: 100px;
}

.camel-man > h3{
    font-size: 30px;
}

.categorise{
    display: grid;
}

.categorise > ul {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
    text-align: center;
    justify-content: center;
}

.categorise > ul > li > a{
    text-decoration: none;
    text-align: center;
    /* display: grid; */
    justify-content: center;
    color: rgb(156, 156, 156);
}

.space{
    display: flex;
    justify-content: space-between !important;
    margin: 9px 0px;
    text-align: center;
}

.amet{
    display: flex;
    column-gap: 18px;
    margin-bottom: 30px;
}

.number{
    font-size: 20px;
    font-weight: 600;

}


.moth{
    font-size: 11px;
    color: grey;
}

.tip{
    font-size: 20px;
    font-weight: 600;
    line-height: 2rem;

}

.sit{
    line-height: 1.7rem;
    font-size: 18px;
    color: grey;
}

.jpg{
    margin: 50px 0px;
}


.in{
    height: 670px;
}

.in > img{
    height: 100%;
    object-fit: cover;
}







footer{
    background-image: url("../Homepage Images/footer_1.jpg");
    height: 120vh;
    width: 100vw;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.foot{
    margin: 150px;

}

.newsletter > h2{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    font-family: 'Oswald',sans-serif;
    line-height: 3rem;
}

.newsletter > p{
text-align: center;
font-size: 22px !important;
font-size: 2.2rem;
color: #fff;
}

.format{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    column-gap: 30px;
}

.name-text{
width: 280px !important;
padding-left: 20px;
}

.email-text{
    width: 550px;
    padding-left: 20px;
}

.import{
    
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    
}

.port{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    width: 200px; 
     border-radius: 20px
    
}

.import > a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.foot-contents{
    /* margin: 0px 50px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.import::placeholder{
    color: #fff;
    /* padding-left: 20px; */
    font-style: italic;
}

.import{
    background-color: rgba(163, 163, 163, 0.6);
    outline: none;
    font-family: 'Oswald',sans-serif;
    height: 48px;
    border: 1px solid rgba(163, 163, 163, 0.6);
}


.svgss{
    margin-top: 100px;
    display: flex;
    column-gap: 100px;
    justify-content: center;
}

.encode{
    text-align: center;
}

.files{
    display: flex;
    justify-content: center;
    column-gap: 70px !important;
    margin-top: 15px;
    text-align: center;
}

.give{
    font-size: 20px;
    color: #fff;
    line-height: 2.2rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px !important;
    font-weight: 600;
}


.landline{
    color: #fff;
    line-height: 1.7rem;
    text-align: center;
    font-size: 16px;
}