* {
  padding: 0;
  margin: 0;
}

header {
  background-image: url("../Sign up Images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

body {
  /* background-color: red; */
}

.overlay {
  background-color: rgb(138, 43, 226, 0.3);
  background-image: linear-gradient(
    to left,
    rgb(138, 43, 226, 0.1) 100%,

    rgb(128, 128, 128, 0.1) 0%
  );
  width: 100vw;
  box-sizing: border-box;
  height: 130vh;
  position: fixed;
  top: 0;

  /* align-items: center; */
}

.create {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  border: 1px solid #7a7a7a;
  /* margin-left: 400px;
  margin-right: 400px; */
  box-sizing: border-box;
  /* top: 200px; */
  width: 500px;
  /* justify-self: center; */
  margin: 200px 0;
}

.yours {
  font-size: 22px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 35px;
  text-align: center;
  line-height: 1.5rem;
  font-family: "Lato", Arial, sans-serif;
}

form {
  display: block;
  margin: 50px 0px;
}

form div input {
  background-color: transparent;
  height: 40px;
  width: 350px;
  outline: none;
  border: 1px solid #b6adad;
  border-radius: 20px;
  padding-left: 20px;
  color: white;
}

form div input::placeholder {
  /* padding-left: 20px; */
  color: #b6adad;
}

form div p {
  padding-bottom: 10px;
  color: #fff;
  line-height: 1rem;
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
}

form div {
  margin-bottom: 20px;
}

.hide {
  display: none;
}

button {
  height: 40px;
  border-radius: 20px;
  background-color: #007bff;
  border: 1px solid #007bff;
  font-size: 16px;
  width: 350px;
}

button a {
  text-decoration: none;
  color: #fff;
}
.membership > p {
  font-size: 16px;
}

.message{
  font-style: italic;
  color: red;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.membership > p > span a {
  text-decoration: none;
  color: #007bff;
}


@media screen and (min-width: 320px) and (max-width:480px){
  * {
  padding: 0;
  margin: 0;
}

header {
  background-image: url("../Sign up Images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.overlay {
  background-color: rgb(138, 43, 226, 0.3);
  background-image: linear-gradient(
    to left,
    rgb(138, 43, 226, 0.1) 100%,

    rgb(128, 128, 128, 0.1) 0%
  );
  width: 100%;
  box-sizing: border-box;
  height: 130%;
  position: fixed;
  top: 0;

  /* align-items: center; */
}
.create {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  border: 1px solid #7a7a7a;
  /* margin-left: 400px;
  margin-right: 400px; */
  box-sizing: border-box;
  /* top: 200px; */
  width: 300px;
  /* justify-self: center; */
  /* margin: 200px 0; */
  margin-top: 100px;
  margin-bottom:0px;
  margin-right:10px;
  margin-left:15px
}


.yours {
  font-size: 22px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 35px;
  text-align: center;
  line-height: 1.5rem;
  font-family: "Lato", Arial, sans-serif;
}

form {
  display: block;
  margin: 50px 0px;
}

form div input {
  background-color: transparent;
  height: 30px;
  width: 200px;
  outline: none;
  border: 1px solid #b6adad;
  border-radius: 20px;
  padding-left: 20px;
  color: white;
}

form div input::placeholder {
  /* padding-left: 20px; */
  color: #b6adad;
}

form div p {
  padding-bottom: 10px;
  color: #fff;
  line-height: 1rem;
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
}

/* form div {
  margin-bottom: 20px;
} */

.hide {
  display: none;
}

.button{
  display: flex;
  justify-content: center;
}

button {
  height: 40px;
  /* display: flex;
  justify-content: center; */
  border-radius: 20px;
  background-color: #007bff;
  border: 1px solid #007bff;
  font-size: 16px;
  width: 150px;
}

button a {
  text-decoration: none;
  color: #fff;
}
.membership > p {
  font-size: 16px;
}

.message{
  font-style: italic;
  color: red;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.membership > p > span a {
  text-decoration: none;
  color: #007bff;
}


}